
doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  style.
    .weight {
    border-radius: 100%;
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
    background-color: rgb(208, 233, 12 );
    align-items: center;
    justify-content: center;
    font-size: 40px;
    }
  title user
.container-fluid
  .row
    .col-12.mt-3
      .card
        .card-horizontal.d-lg-flex.d-sm-block
          .img-rounded
            img(src='https://www.freeiconspng.com/thumbs/contact-icon-png/contact-icon-20.png' alt='Card image cap')
          .card-body.d-lg-flex.align-item-center(style='background-color: black; color:pink')
            .d-flex
              h5.m-4.text-light Name :
              p.m-4=user.name
            .d-flex
              h5.m-4.text-light StaffId :
              p.m-4=user.staffId
            .d-flex
              h5.m-4.text-light Email :
              p.m-4=user.email
            .d-flex
              h5.m-4.text-light Phone :
              p.m-4=user.phone
            .d-flex.weight
              div
                p.m-4.text-danger.text-center=user.sum
        .card-footer
          a(href=`/updateUser/${user._id}`) Edit user details
table.table.table-dark.table-striped.mt-5
  thead
    tr
      th(scope='col') Assigned Task
      th(scope='col') Task weight
      th(scope='col') Assigned on
  tbody
    tr
      td
        each u in user.taw
                if(u.Active==1)
                        p.text-light.mb-0=u.task
      td
        each u in user.taw
                if(u.Active==1)
                        p.text-light.mb-0=u.weight
      td
        each u in user.taw
                if(u.Active==1)
                        p.text-light.mb-0=u.assignedOn
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
